{% extends 'base.html.twig' %}

{% block title %}Problem not found{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="alert alert-danger">
            <h4>Problem not found</h4>
            <p>The requested problem does not exist.</p>
        </div>
    </div>
{% endblock %}
