<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="/assets/css/style.css">
        {% endblock %}
    </head>
    <body>
        {% include 'components/nav.html.twig' %}
        {% include 'components/search_bar.html.twig' %}
        {% block body %}{% endblock %}

        {# Include login/signup modals so they are available in all pages (preserve original HTML) #}
        {% include 'components/login_modal.html.twig' %}
        {% include 'components/signup_modal.html.twig' %}

        {# Include original frontend scripts (auth/modal behavior) #}
        <script src="/assets/js/auth.js"></script>
        <script src="/assets/js/index.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/problem.js"></script>
        <script src="/assets/js/submission.js"></script>
        <script src="/assets/js/profile.js"></script>
        <script src="/assets/js/favorite.js"></script>
    </body>
</html>
