<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="icon" type="image/svg+xml" href="/assets/media/svg-components/code-slash.svg">
        {% block stylesheets %}
            <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="/assets/css/style.css">
        {% endblock %}
    </head>
    <body>
        {% include 'components/nav.html.twig' %}
        {% include 'components/search_bar.html.twig' %}
        {% block body %}{% endblock %}

        {# Include login/signup modals so they are available in all pages (preserve original HTML) #}
        {% include 'components/login_modal.html.twig' %}
        {% include 'components/signup_modal.html.twig' %}

        {# Include original frontend scripts (auth/modal behavior) #}
        <script src="/assets/js/auth.js"></script>
        <script src="/assets/js/index.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/problem.js"></script>
        <script src="/assets/js/submission.js"></script>
        <script src="/assets/js/profile.js"></script>
        <script src="/assets/js/favorite.js"></script>
    </body>
</html>
