<div class="d-flex gap-2">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#LogModal">Login</button>
    <button class="btn btn-light" data-bs-toggle="modal" data-bs-target="#signmodal">Sign Up</button>
</div>
