<div class="px-3 py-2 border-bottom mb-3 log">
    <div class="container d-flex flex-wrap justify-content-end">
        {% if app.user is null %}
            <div class="btns-bar">
                <button
                    type="button"
                    class="btn btn-light tex me-2"
                    id="logbtn"
                    data-bs-toggle="modal"
                    data-bs-target="#LogModal">
                    Log In
                </button>
                <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#signmodal"
                    id="signbtn">
                    Sign Up
                </button>
            </div>
        {% else %}
            <div class="btns-bar">
                <form method="post" action="{{ path('app_logout') }}">
                    <input type="submit" id="logbtn" class="btn btn-light tex me-2" name="action" value="Logout">
                </form>
            </div>
        {% endif %}
    </div>
</div>
